*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.camera-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-color:#000;
}
.camera-display{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    max-width: 480px;
    height: 100vh;
    border-radius: 40px;

}
.camera{
    width:375px;
    height:667px;
    border:5px solid #fff;
    position:relative;
    overflow:hidden;
    box-shadow:0 4px 10px rgba(0,0,0,0.5),
}
.video{
    width:100%;
    height:100%;
    object-fit:cover;
}
.buttons{
    position:absolute;
    bottom:20px;
    left:0;
    right:0;
    display:flex;
    justify-content:center;
}
.shutterButton{
    width:70px;
    height:70px;
    background-color:#fff;
    border-radius:50%;
    border:5px solid #888;
    box-shadow:0 2px 4px rgba(0,0,0.3);

}