.horizontal-rule{
  border-bottom: 2px solid black;
  width: 100%;
}
.card-header-options{
  position:absolute;
  right:5px;
  top:10px;
  width:20px;
  height:20px;
  border-radius:50%;
  cursor:pointer;
  background-color: rgb(19, 16, 16);
}
.card-header-options :hover{
  background-color: greenyellow;
}
.copy{
  cursor: pointer;
}
.card-line{
  border:2px solid lightgray;
  padding:5px;
  border-radius: 5px;
}
.app-card-menu{
  position:absolute;
  right:20px;
  top:25px;
  width:100px;
  height:60px;
  z-index: 1;
}
.create-app-card{
  position:absolute;
  right:20%;
  top:30%;
  z-index: 999;
}
.app-edit-card{
  position:absolute;
  right:20%;
  top:30%;
  z-index: 999;
}
.hide{
  display: none;
}
