.horizontal-rule{
  border-bottom: 2px solid black;
  width: 100%;
}
footer{
  color: black;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 5px;
}
.footer-container{
  margin: 0;
  display: block;
 
 
}
.footer-bottom{
  text-align: center;
  margin-top: 30px;
}
.footer-bottom p{
  font-size: 0.8em;
}
.mobile-pop{
  position: fixed;
  top: 30%;
  left:7.5%;
  z-index: 999;
  width: 85%;
}
.invoice-card{
  width:100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
header{
  margin-bottom: 20px;
}
header h2{
  color: #333;
  margin-bottom: 5px;
}
header p{
  font-size: 14px;
  color: #888;
}
.invoice-details{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.company-info h4, .client-info h4{
margin-bottom: 5px;
font-size: 16px;
color: #333;
}
.invoice-items{
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}
.invoice-items th,.invoice-items td{
  border: 1px;
  padding: 8px;
  text-align: left;
}
.invoice-items th{
  background-color: #f2f2f2;
  font-weight: bold;
}
.invoice-items tr{
  border-bottom: 1px black solid;
}
.invoice-items tfoot{
  border-bottom: 1px black solid;
}
.total td{
 border-bottom: 1px red solid;
 
}
.payment-container{
  border:1px darkgray solid;
}